.homeContainer {
  height: 90vh;
  padding-top: 60px;
  color: $primaryClr;
  .welcomeMsg {
    text-align: left;
    font-size: 180%;
    margin: 1vh;
    max-width: 100%;
    h2 {
      margin: 5vh 0;
    }
  }
  .pictureContainer {
    img {
      max-width: 100%;
    }
    margin-top: 10vh;
  }
}

@media (min-width: 800px) {
  .homeContainer {
      height: 90vh;
      h2{
      font-size: 220%;
      }
    .welcomeMsg {
        margin-left: 4%;
    }
    .pictureContainer {
        text-align: center;
        margin-top: 9vh;
      img {
        width: 750px;
        height: auto;

      }
    }
  }
}

@media(min-width: 2000px){
    .homeContainer{
      height: 100vh;
        .welcomeMsg{
            font-size: 300%;
        }
        .pictureContainer{
            img{
                width: 40%;
            }
        }
    }
}
