h2{
  text-align: center;
  font-size: 150%;
}
.projectsContainer {
  background: $secondaryClr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  .project {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    background: $primaryClr;
    color: $secondaryClr;
    width: 100%;
    border-radius: 15px;
    > * {
      margin: 3%;
    }
    padding: 0%;
    margin: 2%;
    h3{
    }
    .projectLinks {
      a {
        color: $neutralClr;
        text-decoration: none;
        background: $secondaryClr;
        padding: 1vh;
        margin: 1vh;
        border-radius: 15px;
      }
    }
  }
}

@media (min-width: 1050px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    .project {
      width: 45%;
      margin: 1vh;
      padding: 0.5%;
      .projectLinks {
        margin: 1vh;
        a {
          font-size: 90%;
        }
      }
    }
  }
}
