.projectsContainer {
  background: $primaryClr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: $secondaryClr;
    width: 95%;
    > * {
      margin: 3%;
    }
    padding: 0%;
    margin: 2%;
    .projectLinks {
      a {
        color: $neutralClr;
        text-decoration: none;
        background: $secondaryClr;
        padding: 1vh;
        margin: 1vh;
        border-radius: 15px;
      }
    }
  }
}

@media (min-width: 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;

    .project {
      width: 30%;
      margin: 1.5vh;
      .projectLinks {
        margin: 1vh;
        a {
          font-size: 90%;
        }
      }
    }
  }
}
