@import "variables.scss";

*{
  font-family: "Roboto", sans-serif;
  color: $primaryClr;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import "nav.scss";
@import "home.scss";
@import "about.scss";
@import "projects.scss";
@import "contact.scss";
@import "circles.scss";

